.row-hover:hover {
  background: #f3f2f2 !important;
}

.slds-dropdown__item a {
  cursor: pointer;
}

.slds-card__header-title {
  font-size: 18px;
  font-weight: 600;
}


.required::before {
  content: "* ";
  color: red;
}

.slds-modal__header {
  border-bottom: 1px solid #e0e0e0;
}

.slds-modal__footer {
  border-top: 1px solid #e0e0e0;
}

.slds-modal__container {
  max-width: 55rem;
}

